<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2">Hello There</h1>
        <p class="mt-0 mb-5"> This project is a web application that provides information about stocks from dates 
            ranging from 01-01-2021 to 01-10-2021. The data is obtained using NSE India's API.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1>Methods for Stock Analysis</h1>
        <!-- select a particular stock -->
        <div class="form-group">
          <label for="stock">Select a Stock</label>
          <select class="form-control" id="stock">
            <option *ngFor="let stock of stocks" [ngValue]="stock">{{stock}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>