<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header class="display-6">Hello There</c-card-header>
      <c-card-body>
        <c-card-text>
          This is a card with some text content.
        </c-card-text>
      </c-card-body>              
    </c-card>
  </c-col>
</c-row>

<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>Users</c-card-header>
      <c-card-body>
        <table
          [hover]="true"
          [responsive]="true"
          [striped]="true"
          align="middle"
          cTable
          class="mb-0 border"
        >
          <tbody>
          <tr>
            <td>  
              <div></div>
            </td>
            <td>
              <div> Choice 1</div>
              <div class="small text-medium-emphasis">
                <span>Required Data: </span> Stock Symbol, Start Date, End Date
              </div>
            </td>
            <td>
              <div> Choice 1</div>
              <div class="small text-medium-emphasis">
                <span>Required Data: </span> Stock Symbol, Start Date, End Date
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
